In [36]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from  sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score,confusion_matrix
from  sklearn.tree import DecisionTreeClassifier

df = pd.read_csv("Book1.csv")
df.head()

,distance_of_the_route_Km,longitude,latitude,body_characteristic_length,fuel_l,sensors
0,100,54,10,23,50,12
1,40,57,8,19,25,10
2,120,55,11,39,55,17
3,70,50,7,34,40,15
4,90,59,9,28,45,13

In [28]:
df.shape

(5, 6)

In [30]:
df.columns

Index(['Distance of the route Km', 'longitude', 'latitude',
       'Body characteristic Length', 'Fuel L', 'Sensors'],
      dtype='object')

In [68]:
clean_data =df.copy()     #copy of original data

clean_data['eligible_for_Leading']= (clean_data['distance_of_the_route_Km']>100)

clean_data['eligible_for_Leading'].head()

0    False
1    False
2     True
3    False
4    False
Name: eligible_for_Leading, dtype: bool

In [69]:
y= clean_data[['eligible_for_Leading']].copy()
y.head()

   eligible_for_Leading
0                 False
1                 False
2                  True
3                 False
4                 False

In [70]:
c_features = ['longitude','latitude', 'body_characteristic_length','fuel_l','sensors'] #list of other independent features

In [71]:
x=clean_data[c_features].copy() 
x.columns

Index(['longitude', 'latitude', 'body_characteristic_length', 'fuel_l',
       'sensors'],
      dtype='object')

In [72]:
y.columns     #target columns

Index(['eligible_for_Leading'], dtype='object')

In [73]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=300) #splitting data in test and train .30 % for test and 70% for train

In [74]:
eligibility_classifier = DecisionTreeClassifier(max_leaf_nodes=10,random_state=0) #max_leaf to avoid overfitting & random_s to get the same result
eligibility_classifier.fit(X_train,y_train)

DecisionTreeClassifier(max_leaf_nodes=10, random_state=0)

In [75]:
y_predicted = eligibility_classifier.predict(X_test) #predicting value on test set

In [76]:
accuracy_score(y_test,y_predicted)*100

50.0